<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <title>Text Recognition Program</title>
    <!-- Write CSS Here -->
</head>
<body>
    <div class="card text-center">
        <div class="card-header">
            <h5 style="font-weight: bolder;">OCR-(Upload Image & Open Camera)-Recognize Text inside the Image</h5>
        </div>
        <div class="card-body">
            <div class="form-group actions">
                <h6>Please Select Any One Option:-</h6>
                <a href="/" class="btn btn-success image_upload"><i class="bi bi-check-circle checked"></i><span id="upload_image">Upload</span></a>
                <a href="/capture-image" class="btn btn-primary camera"><span id="camera_open">Camera</span></a>
            </div>
            <div class="form-group">
                <div class="row" id="upload_image_area" >
                    <div class="col-md-5" id="input_area">
                        <div class="form-group" id="upload_image_status">
                            <h5 class="card-title" style="font-weight: bolder; color: green;">Text Recognition on Uploaded Image</h5>
                            <span id="file_upload_success"><%=success%></span>
                            <span id="file_upload_error"><%=error%></span>
                        </div>
                        <form action="/recognize-text-uploaded-image" method="POST" enctype="multipart/form-data">
                            <label for="file">Please Upload Image Here..</label>
                            <div class="d-flex form-group">
                                <input type="file" class="form-control input-image" id="file" name="file" accept="image/*" aria-describedby="inputGroupFileAddon04" aria-label="Upload" required>
                                <button class="btn btn-success" type="submit" id="">Recognize</button>
                            </div>
                        </form>
                        <% if (imagename != ''){ %>
                        <div class="form-group" id="image_preview_area">
                            <img src="<%=imagename%>" alt="Preview Image" width="250px" height="250px">
                            <h6>Preview Image</h6>
                        </div>
                        <% } %>
                    </div>
                    <div class="col-md-7 output_area_image" id="output_area_image">
                        <h5>Recognized Text From Image</h5>
                        <textarea class="output_text_image" id="output_text_image" cols="108" rows="20">
                            <%=data%>
                        </textarea>
                    </div>
                </div>
            </div>      
        </div>
        <div class="card-footer text-muted">
        </div>
    </div>

    <!-- Write here Javascript -->
    <script defer>

            let vedio_camera = document.getElementById('vedio_camera');
            if(isset(vedio_camera.srcObject)){
                const stream = vedio_camera.srcObject;
                const track = stream.getTracks()[0];
                track.stop();
                vedio_camera.srcObject = null;
                console.log('Camera Streaming Off');
            }else{
                console.log('Camera Streaming is not ON!');
            }
    
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>